/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.css';

$primary-color: #edededa4;
$color: rgb(82, 82, 82);

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: $primary-color;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-logo {
  margin-bottom: 200px;
  height: 200px;
  width: 200px;
}

.neu {
  height: 60px;
  width: 200px;
  border-radius: 200px;
  background: $primary-color;
  box-shadow: 20px 20px 39px #c9c9c9, -20px -20px 39px #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
  }
}

.toolbar {
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  button {
    width: 60px;
    height: 30px;
  }
}

button.neu-button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 150px;
  background: #ededed;
  box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #ffffff;

  &:hover {
    box-shadow: 10px 10px 20px #c9c9c9, -10px -10px 20px #ffffff;
  }

  &:active {
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  }
}

.setting {
  background: #ecf0f3;
  width: 100vw;
  height: 100vh;
  display: flex;

  a {
    text-decoration: none;
    color: $color;
  }

  .left-menu {
    flex: 0 320px;
    overflow: hidden;
    border-right: 1px solid #a9a9a9;

    .title {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        flex: 0 0 auto;
      }
    }

    h3 {
      margin: 10px 0;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        cursor: pointer;
        padding: 0 10px;
      }
    }

    .menu-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .schedule-info {
      flex: 0 0 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        margin: 0;
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    }
  }

  .content {
    flex: 1 auto;

    & > div {
      width: 100%;
      height: 100%;
    }
  }

  .schedule-form {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .preference {
    padding: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .row {
    margin-bottom: 20px;
  }

  .custom-menu {
    background-color: $primary-color;
  }
}
